<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>VetConecta</h5>
                <p>Conectando veterinários e tutores para o cuidado dos seus pets.</p>
            </div>
            <div class="col-md-3">
                <h6>Links Úteis</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white-50">Início</a></li>
                    <li><a href="/artigos" class="text-white-50">Artigos</a></li>
                    <li><a href="/quemsomos" class="text-white-50">Quem Somos</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Contato</h6>
                <ul class="list-unstyled">
                    <li class="text-white-50"><i class="bi bi-envelope"></i> contato@vetconecta.com</li>
                    <li class="text-white-50"><i class="bi bi-phone"></i> (11) 9999-9999</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <small>&copy; 2024 VetConecta. Todos os direitos reservados.</small>
        </div>
    </div>
</footer>