{% extends "base_publica.html" %}
{% block head %}
<title>Quem Somos - VetConecta</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/styles-quemsomos.css">
{% endblock %}
{% block conteudo %}
<style>

</style>
</head>

<body class="quemsomos-bg">
    <main class="container">
        <h1 class="titulo_destaque my-5">Quem Somos</h1><br>
        <p>O <span class="titulo_destaque">VetConecta</span> é um espaço criado para unir tutores de animais e
            veterinários especializados em um ambiente digital que valoriza informação de qualidade, cuidado responsável
            e amor pelos pets. Nosso propósito é oferecer <strong>conteúdos confiáveis, revisados por
                profissionais</strong>, que abordam temas como saúde, nutrição, comportamento e cuidados preventivos,
            ajudando tutores a tomarem decisões seguras e conscientes.</p>

        <p>Sabemos que, muitas vezes, o acesso a um veterinário pode ser difícil devido à distância, custos ou falta de
            tempo. Por isso, desenvolvemos uma plataforma que aproxima conhecimento e cuidado, garantindo que cada tutor
            tenha orientação segura na palma da mão.</p>

        <p>O VetConecta é fruto do trabalho e dedicação de <strong>Brenda Souza Oliveira, Kauany Stefany Gomes de
                Oliveira, Luana Santos Neves e Sofia Koppe Fernandes Bettcher</strong>, alunas do Instituto Federal do
            Espírito Santo – Campus Cachoeiro de Itapemirim, unindo tecnologia, inovação e paixão pelos animais.</p>

        <p>Mais do que um blog, somos uma <strong>comunidade engajada</strong> em promover o bem-estar animal,
            incentivar práticas responsáveis e fortalecer o vínculo entre tutores e seus companheiros de quatro patas.
            Aqui, cada artigo, dica e conversa é um passo a mais para uma vida mais saudável e feliz para nossos pets.
        </p><br>
    </main>
    <div class="mt-5">
        <div class="wave-container">
            <svg viewBox="0 0 1366 48" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-eeb6fc76="">
                <path
                    d="M336.091 0C49.0433 0 0 48 0 48L1366 48V0C1366 0 1283.78 37.5061 1005.39 37.5061C726.995 37.5061 623.138 0 336.091 0Z"
                    fill="#3569A6" data-v-eeb6fc76=""></path>
            </svg>
        </div>
    </div>
    <div class="team flex-column">
        <div class="container">

            <h1 class="titulo_destaque">Nossa Equipe</h1>
            <div class="d-flex justify-content-around">
                <div class="team-member">
                    <img src="/static/img/brenda.jpg" alt="Brenda Souza Oliveira">
                    <h3>Brenda Souza</h3>
                </div>
                <div class="team-member">
                    <img src="/static/img/kauany.jpg" alt="Kauany Stefany Gomes de Oliveira">
                    <h3>Kauany Stefany</h3>
                </div>
                <div class="team-member">
                    <img src="/static/img/luana.jpg" alt="Luana Santos Neves">
                    <h3>Luana Santos</h3>
                </div>
                <div class="team-member">
                    <img src="/static/img/sofia.jpg" alt="Sofia Koppe Fernandes Bettcher">
                    <h3>Sofia Koppe</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5">
        <svg viewBox="0 0 1366 48" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-eeb6fc76="">
            <path
                d="M1029.91 48C1316.96 48 1366 0 1366 0L0 0V48C0 48 82.2194 10.4939 360.612 10.4939C639.005 10.4939 742.862 48 1029.91 48Z"
                fill="#3569A6" data-v-eeb6fc76=""></path>
        </svg>
    </div>

</body>

</html>
{% endblock %}