<!-- Carousel de Ícones de Animais -->
<div class="mb-5 mx-5 position-relative">
    <div class="overflow-hidden">
        <div class="row row-cols-6 g-5 mx-5" id="categoriasTrack">
            <div class="col">
                <a href="/animais/caes" class="text-decoration-none">
                    <div class="card h-100 bg-transparent border-0">
                        <img src="/static/img/icons/cao_icon.jpg" class="card-img-top rounded-circle p-2" alt="Cães">
                        <span class="bg-bege text-dark fw-bold text-center fs-5 p-2 w-100 mx-auto rounded-pill my-3">Cães</span>
                    </div>
                </a>
            </div>
            
            <div class="col">
                <a href="/animais/gatos" class="text-decoration-none">
                    <div class="card h-100 bg-transparent border-0">
                        <img src="/static/img/icons/gato_icon.jpg" class="card-img-top rounded-circle p-2" alt="Gatos">
                        <span class="bg-bege text-dark fw-bold text-center fs-5 p-2 w-100 mx-auto rounded-pill my-3">Gatos</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/animais/passaros" class="text-decoration-none">
                    <div class="card h-100 bg-transparent border-0">
                        <img src="/static/img/icons/passaro_icon.jpg" class="card-img-top rounded-circle p-2" alt="Pássaros">
                        <span class="bg-bege text-dark fw-bold text-center fs-5 p-2 w-100 mx-auto rounded-pill my-3">Pássaros</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/animais/roedores" class="text-decoration-none">
                    <div class="card h-100 bg-transparent border-0">
                        <img src="/static/img/icons/roedor_icon.jpg" class="card-img-top rounded-circle p-2" alt="Roedores">
                        <span class="bg-bege text-dark fw-bold text-center fs-5 p-2 w-100 mx-auto rounded-pill my-3">Roedores</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/animais/tartarugas" class="text-decoration-none">
                    <div class="card h-100 bg-transparent border-0">
                        <img src="/static/img/icons/tartaruga_icon.jpg" class="card-img-top rounded-circle p-2" alt="Tartarugas">
                        <span class="bg-bege text-dark fw-bold text-center fs-5 p-2 w-100 mx-auto rounded-pill my-3">Tartarugas</span>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/animais/caes" class="text-decoration-none">
                    <div class="card h-100 bg-transparent border-0">
                        <img src="/static/img/icons/cao_icon.jpg" class="card-img-top rounded-circle p-2" alt="Cães">
                        <span class="bg-bege text-dark fw-bold text-center fs-5 p-2 w-100 mx-auto rounded-pill my-3">Cães</span>
                    </div>
                </a>
            </div>    
        </div>
    </div>    
</div>

<script>
    
</script>