/* ------------------------------ PáginaBase ------------------------------ */

/* Navbar */
.fundo_navbar {
  background-color: #5D3A79;
}

.custom-btn-link {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.custom-btn-link:hover {
  color: var(--bs-primary); /* azul Bootstrap no hover */
}

/* Ícones/logo */
.logo-pata {
  height: 60px;
}

.logo-nome {
  height: 30px;
  margin-left: 8px;
  margin-top: 5px;
}

.perfil-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Footer */
.footer-bg {
  background-color: #ecdec0;
}

.footer-pata {
  height: 40px;
}

.footer-nome {
  height: 25px;
  margin-left: 8px;
}


/*------------------------------PáginaIndex------------------------------/*

/* Ícone de coração */
input[type="checkbox"]:checked+label i {
  color: #e63946;
}
input[type="checkbox"]:checked+label i::before {
  content: "\f415";
}

/* Categorias */
.titulo_categorias {
  background-color: #FFE5B3;
  border-radius: 30px;
}
.categoria-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}


.categoria-btn { 
  background-color: #FFE5B3;
  border-radius: 30px; 
  padding: 10px 20px; 
  margin: 15px 0; }

/* Botão Ver mais */
.ver-mais-btn {
  background-color: #FFE5B3;
  text-decoration: none;
  display: inline-block;
}

/* Carrossel */
.custom-carousel {
  height: 400px;
}
.custom-carousel-img {
  height: 400px;
  object-fit: cover;
}

/* Artigos */
.artigo-card img {
  object-fit: cover;
}
.bg-cachorros { background-color: #44345A !important; }
.bg-gatos     { background-color: #FA811D !important; }
.bg-aves      { background-color: #3569A6 !important; }
.bg-repteis   { background-color: #295A5D !important; }
.bg-roedores  { background-color: #ED6291 !important; }

/* PetGram */
.petgram-bg {
  background: linear-gradient(to bottom, #ffffff, #FFF0D1, #ED6291);
}
.petgram-title {
  color: #F25CA2;
}
.petgram-subtitle {
  color: #2C4C84;
}
.petgram-card {
  border: 10px solid #F25CA2;
  border-radius: 20px;
}
.petgram-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 450px;
  object-fit: cover;
}
.petgram-btn {
  background-color: #FFF0D1;
  width: 300px;
  font-size: 20px;
  border-color: #F25CA2;
}
.like-icon {
  cursor: pointer;
}
