/* ------------------------------ PáginaBase ------------------------------ */
header {
  background-color: #ffeed1 !important;
  /* Laranja principal */
  color: white !important;
  text-align: center !important;
  padding: 20px 10px !important;
}
.fundo_navbar {
  background-color: #5D3A79;
}

.logo-pata {
  height: 40px; /* antes era 60px */
}

.logo-nome {
  height: 20px; /* antes era 30px */
  margin-left: 8px;
  margin-top: 5px;
}

.footer-pata {
  height: 40px;
}

.footer-nome {
  height: 25px;
  margin-left: 8px;
}

.footer-fixado {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  text-align: center !important;
  background-color: #ffeed1 !important;
  padding: 10px !important;
  font-size: 0.9rem !important;
  /* margin-top: 40px !important; */
  color: #000000 !important;
}

.fonte-titulo {
  font-family: 'Montserrat' !important;
  font-weight: bold !important;
}

/* ----------------------------------------------------- PAGINA INDEX --------------------------------------------------------- */


/* Ícone de coração */
input[type="checkbox"]:checked+label i {
  color: #e63946;
}

input[type="checkbox"]:checked+label i::before {
  content: "\f415";
}

/* Categorias */
.titulo_categorias {
  background-color: #FFE5B3 !important;
  border-radius: 30px !important;
}

.categoria-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}


.categoria-btn {
  background-color: #FFE5B3;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 15px 0;
  text-decoration: none;
  display: inline-block;
}

/* Botão Ver mais */
.ver-mais-btn {
  background-color: #FFE5B3 !important;
  text-decoration: none !important;
  display: inline-block !important;
}

/* Carrossel */
.custom-carousel {
  height: 400px;
}

.custom-carousel-img {
  height: 400px;
  object-fit: cover;
}

/* ---------------------------------------------------------- CARDS-------------------------------------------------------------- */

.card-perfil {
  border: 02px solid #adadad;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 12px rgba(0,0,0,0.1);
}

.artigo-card,
.petgram-card {
  transition: transform 0.3s cubic-bezier(.4,2,.3,1), box-shadow 0.3s;
  box-shadow: 0 16px 18px -8px rgba(0,0,0,0.55); /* sombra só embaixo, bem evidente */
}
.artigo-card:hover,
.petgram-card:hover {
  transform: scale(1.05) translateY(-8px);
  box-shadow: 0 28px 32px -8px rgba(0,0,0,0.65); /* sombra inferior ainda mais forte no hover */
  z-index: 2;
}

.artigo-card img {
  object-fit: cover;
}

/* ---------------------------------------------------------- PALETA DE CORES -------------------------------------------------------------- */


.bg-cachorros {
  background-color: #44345A !important;
}

.bg-gatos {
  background-color: #FA811D !important;
}

.bg-aves {
  background-color: #3569A6 !important;
}

.bg-repteis {
  background-color: #295A5D !important;
}

.bg-roedores {
  background-color: #ED6291 !important;
}

/* ---------------------------------------------------------- PETGRAM -------------------------------------------------------------- */


/* PetGram */
.petgram-bg {
  background: linear-gradient(to bottom, #f9f5f0, #FFF0D1, #ED6291);
}

.petgram-title {
  color: #F25CA2;
}

.petgram-subtitle {
  color: #2C4C84;
}

.petgram-borda {
  border: 2px solid #F25CA2 !important;
}

.petgram-img {
  height: 450px;
  object-fit: cover;
}

.petgram-btn {
  background-color: #FFF0D1;
  width: 300px;
  font-size: 20px;
  border-color: #F25CA2;
}

.like-icon {
  cursor: pointer;
}




body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #f9f5f0 !important;
  /* Bege */
  color: #333 !important;
  line-height: 1.6 !important;
  margin: 0 !important;
  padding: 0 !important;
}


header h1 {
  margin: 0 !important;
  font-size: 2rem !important;
}

main {
  /* max-width: 1000px !important; */
  margin: auto !important;
  /* padding: 40px 20px !important; */
}

h1 {
  color: #000000 !important;
  font-size: 1.6rem !important;
  margin-bottom: 20px !important;
}

h2 {
  color: #d35400 !important;
  font-size: 1.8rem !important;
  margin-bottom: 20px !important;
}

h3 {
  color: #ffffff !important;
  font-size: 1.6rem !important;
  margin-bottom: 20px !important;
}

p {
  margin-bottom: 15px !important;
  font-size: 1.05rem !important;
}


.link{
  color: #000000 !important;
  text-decoration: none !important;
}




/* ADMINISTRADOR */

.layout {
  display: flex;
}

/* ================== SIDEBAR ================== */
.sidebar {
  background-color: #5D3A79;
  width: 200px;
  min-height: 100vh;
  padding-top: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1rem;
}

.menu-item {
  padding: 12px 20px;
  border-radius: 8px;
  margin: 5px 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: #4A2760;
}


/* ================== CONTEÚDO ================== */
.conteudo {
  flex: 1;
  padding: 1px 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 24px !important ;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 700px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
