{% extends "base/base_publica.html" %}
{% block head %}
<title>Cadastro - VetConecta</title>
{% endblock %}
{% block conteudo %}
<div class="container d-flex align-items-center justify-content-center flex-grow-1 my-4">
    <div class="col-md-8 col-lg-6">
      <div class="login-box">
        <div class="d-flex flex-column align-items-center mb-4">
          <!-- Logo -->
          <img src="/static/img/vetconecta-logo-v.svg" alt="Logo VetConecta" width="220">
          <!-- Título -->
          <h2 class="fs-2 mt-4 fw-semibold text-center badge bg-primary">Como deseja se cadastrar?</h2>
        </div>

        <!-- Cartões de Seleção -->
        <div class="row g-3 mb-4">
          <div class="col-6">
            <a href="/cadastro/tutor" class="text-decoration-none">
              <div class="card text-center border-primary h-100 hover-card">
                <div class="card-body">
                  <i class="bi bi-person-heart fs-1 text-primary mb-3"></i>
                  <h5 class="card-title text-primary">Sou Tutor</h5>
                  <p class="card-text small text-muted">Proprietário ou cuidador de pets</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6">
            <a href="/cadastro/veterinario" class="text-decoration-none">
              <div class="card text-center border-primary h-100 hover-card">
                <div class="card-body">
                  <i class="bi bi-prescription2 fs-1 text-primary mb-3"></i>
                  <h5 class="card-title text-primary">Sou Veterinário</h5>
                  <p class="card-text small text-muted">Profissional da saúde animal</p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="mt-4 text-center">
          <span>Já tem uma conta? </span>
          <a href="/login" class="text-primary fw-semibold text-decoration-none">Faça login!</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
