{# TODO: Dashboard do Tutor
   - Estender base_publica.html
   - Título: "Meu Painel - Tutor"
   - Card com métrica: Total de Posts ({{ total_posts }})
   - Grid row com col-md-4 dos últimos 6 posts (usar {% include "componentes/petgram_card.html" %})
   - Botão: href="/tutor/fazer_postagem_feed" class="btn btn-laranja"
   - Link: href="/tutor/listar_postagem_feed" Ver Todos os Posts
   Variáveis: request, posts (lista), total_posts (int)
   Referência: Ver templates/admin/home_administrador.html
#}
